@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
}

.trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;

    .triggerInner {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
}

.content {
    position: absolute;
    z-index: 50;
    min-width: 150px;
    border: $border;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    background-color: var(--color-bg);
}

.item {
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.2s;
}

.item:hover {
    background-color: var(--color-bg-hover-item);
}

.disabled {
    pointer-events: none;
    background-color: transparent;

    p {
        color: var(--color-text-disabled);
    }
}

.top {
    bottom: 100%;
}

.bottom {
    top: 100%;
    right: 0%;
}

.left {
    right: 100%;
    top: 0%;
}

.right {
    left: 100%;
    top: 0%;
}
