@use "@/styles/colors.scss" as *;

.clearIndicator {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        svg {
            fill: $black;
        }
    }
}
