@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;

.root {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

    .header {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
    }

    @media (max-width: $mobile-xl) {
        flex-direction: column;
        align-items: unset;
        width: 100%;

        .header {
            gap: 1rem;
        }
    }
}
