@use "@/styles/breakpoints.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    box-sizing: border-box;
    overflow-x: auto;
    @include hide-scrollbar;
}
