@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";
@import "@/styles/index.scss";

.selectDate {
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    font-size: $font-size-base;

    label {
        font-weight: bold;
    }

    .datePicker {
        :global(.react-date-picker__wrapper) {
            @include borderInput;
        }

        background-color: var(--color-bg);
        margin-top: 10px;

        height: 39px;
        min-width: 151px;

        input,
        select {
            @include noFocusBorder;
        }

        select {
            cursor: pointer;
        }
    }

    .datePicker.datePickerEdit {
        background-color: var(--color-bg-hover-item);

        @include noFocusBorder;
    }
}
