@import "../../styles/colors.scss";

.input {
  position: relative;

  display: flex;
  flex-direction: column;

  label {
    padding-left: 5px;
  }

  .labelTextBold {
    font-weight: bold;
  }

  input {
    max-width: 130px;
    height: 39px;
    padding-right: 36px;
    padding-left: 5px;
    border: 1px solid $green;
  }

  .close {
    position: absolute;
    bottom: 7px;
    right: 12px;
    cursor: pointer;
    img {
      display: flex;
    }
  }
}
