@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.root {
    display: flex;
    gap: 20px;
    border-bottom: $border;

    &.active {
        background-color: var(--color-bg-hover-item);
    }

    .data {
        display: flex;
        padding: 10px;
        gap: 7px;

        p {
            line-height: 1.8;
        }

        .date {
            min-width: 151px;
        }

        .light,
        .lightDay,
        .lightNight,
        .gas,
        .water {
            min-width: 130px;
            letter-spacing: 0.8px;
        }

        .water {
            color: var(--color-text-blue);
        }

        .gas {
            color: var(--color-text-red);
        }
    }

    .btns {
        display: flex;

        gap: 0.7rem;
        padding-right: 1rem;

        button:hover {
            svg {
                fill: var(--color-default-icon-hover);
            }
        }

        button:disabled {
            opacity: 0.6;
            cursor: no-drop;
        }
    }
}
