@import "../../../styles/breakpoints.scss";

.valueUtilityPrices {
  display: flex;

  align-items: flex-end;

  p {
    padding-right: 2px;
    padding-bottom: 10px;
  }

  button {
    margin-left: 30px;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-xl) {
    width: 100%;
    button {
      margin-left: auto;
    }
  }
}
