@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    display: flex;
    flex-direction: column;

    option {
        padding: 10px 12px;
        cursor: pointer;
        font-size: 14px;
        color: var(--color-text-secondary);
        background-color: var(--color-bg);

        &:hover {
            background-color: var(--color-bg-hover-item);
            color: var(--color-text-primary);
        }
    }

    label {
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 5px;
    }
}
