@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.select {
    display: flex;
    flex-direction: column;

    select {
        border: $border;
        min-width: 150px;
        height: 38.99px;
    }

    label {
        margin-bottom: 10px;
        font-weight: bold;
        padding-left: 5px;
    }
}
