@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.infoPanelMonthSection {
  margin-top: 20px;
  .title {
    position: relative;

    display: flex;
    align-items: center;
    b {
      margin-left: 7px;
      color: $red;
    }
  }
  .infoPanelMonth {
    display: flex;

    align-items: flex-end;
    gap: 10px;

    flex-wrap: wrap;

    .links {
      display: flex;
      gap: 10px;
    }
  }

  @media (max-width: $mobile-xl) {
    .infoPanelMonth {
      flex-direction: column;
      align-items: unset;

      .links {
        justify-content: space-between;
      }
    }
  }
}
