@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.infoPanelMonth {
  display: flex;

  align-items: flex-end;
  gap: 10px;

  flex-wrap: wrap;

  .links {
    display: flex;
    gap: 10px;
  }

  @media (max-width: $mobile-xl) {
    flex-direction: column;
    align-items: unset;

    .links {
      justify-content: space-between;
    }
  }
}
