@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/index.scss" as *;
@use "@/styles/sizes.scss" as *;

.selectDate {
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    font-size: $font-size-base;

    label {
        font-weight: bold;
    }

    .datePicker {
        :global(.react-date-picker__wrapper) {
            @include borderInput;
        }

        background-color: var(--color-bg);
        margin-top: 10px;

        height: $heightSelect;
        min-width: 9.375rem;

        input,
        select {
            @include noFocusBorder;
        }

        select {
            cursor: pointer;
        }
    }

    .datePicker.datePickerEdit {
        background-color: var(--color-bg-hover-item);

        @include noFocusBorder;
    }
}
