@import "../../../styles/breakpoints.scss";
@import "../../../styles/colors.scss";

.listInfoPanelMonth {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;

  flex-grow: 1;

  @media (max-width: $mobile-xl) {
    flex-direction: column;
    background-color: $lightGreen;
    padding: 10px 5px;
    border-radius: 5px;
  }
}
