@import "@/styles/colors.scss";

.inputLogin {
  height: 80px;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 5px;
  }
  .input {
    position: relative;

    .inputTrue {
      background-color: $white;
    }

    input {
      padding-left: 12px;
      padding-right: 38px;

      min-width: 260px;
      min-height: 39px;

      border: 1px solid $grey;
      border-radius: 4px;

      &::placeholder {
        color: $grey;
      }
    }
    img {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  .errorMessage {
    color: $red;
    font-size: 12px;
    font-weight: bold;
  }
}
