@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/sizes.scss" as *;

.root {
    height: 80px;
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
    }
    .inputBox {
        position: relative;

        input {
            padding-left: 12px;
            padding-right: 38px;
            min-width: 260px;
            min-height: $heightInput;
            border: $border;
            border-radius: 4px;

            &::placeholder {
                color: var(--color-text-muted);
            }
        }

        svg {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    .errorMessage {
        padding-left: 12px;
        margin: 0.2rem 0rem;
        color: var(--color-text-red);
        font-size: 11px;
    }
}
