@use "@/styles/colors.scss" as *;

.root {
    margin-top: 20px;

    .title {
        margin-bottom: 20px;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .item {
            display: flex;
            gap: 10px;

            .content {
                display: flex;
                align-items: center;
                gap: 10px;

                .value {
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}
