@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    margin-top: 20px;
    @include bg-glass;
    padding: 1rem;
    border: $border;
    border-radius: 5px;
    .title {
        margin-bottom: 20px;
    }
    .items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .item {
            display: flex;
            gap: 10px;
            .content {
                display: flex;
                align-items: center;
                gap: 10px;
                .value {
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}
