@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 260px;
    min-height: 50px;
    background-color: $green;
    border-radius: 4px;
    cursor: pointer;

    @include transition(background-color);

    svg {
        transform: translateX(0%);
        @include transition(transform);
    }

    &:hover {
        svg {
            transform: translateX(30%);
        }
    }

    &:active {
        svg {
            transform: translateX(100%);
        }
    }
}
