@use "@/styles/colors.scss" as *;

.root {
    position: relative;
    padding: 0.75rem;
    height: 100%;

    .title {
        text-transform: uppercase;
        color: $white;
    }

    ul {
        display: flex;
        flex-direction: column;

        gap: 0.5rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    button {
        position: absolute;
        bottom: 0.75rem;
        right: 0.75rem;
    }
}
