@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.headMetersData {
    display: flex;
    padding: 10px;
    gap: 7px;
    border-bottom: $border;
    border-top: $border;

    p {
        line-height: 1.8;
        font-weight: 700;
    }

    .headMetersDataDate {
        min-width: 151px;
    }

    .headMetersDataLight,
    .headMetersDataLightDay,
    .headMetersDataLightNight,
    .headMetersDataGas,
    .headMetersDataWater {
        min-width: 130px;
    }
}
