@import "../../../../styles/colors.scss";
@import "../../../../styles/breakpoints.scss";

.itemMonthlyMoneyCalculations {
  border: 1px solid $grey;
  border-radius: 4px;
  width: max-content;
  padding: 0px 10px 10px;

  ul {
    .item {
      display: flex;

      gap: 20px;

      &:nth-child(1) {
        border-bottom: 1px solid $grey;
      }

      p {
        line-height: 1.8;
      }

      .title {
        font-weight: bold;
      }
    }

    .itemLast {
      border-top: 1px solid $grey;

      .sumMoney {
        color: $green;
      }
    }
  }

  .btns {
    display: flex;
    gap: 40px;

    justify-content: space-between;
  }

  @media (max-width: $mobile-xl) {
    width: auto;
  }

  @media (max-width: $mobile) {
    ul {
      .item {
        flex-direction: column;
        gap: 0px;
      }
    }

    .btns {
      gap: 10px;
    }
  }
}
