@import "@/styles/mixins.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/sizes.scss";

.graphics {
    .page-layout--expanded {
        @include layoutStyle($widthSidebarExpanded);
    }

    .page-layout--collapsed {
        @include layoutStyle($widthSidebarCollapsed);
    }

    .title {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .items {
            display: flex;
            flex-direction: column;

            width: 100%;

            gap: 60px;
        }

        .link {
            color: $green;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            color: $black;
        }
    }
}
