@import "@/styles/mixins.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/sizes.scss";

.home {
    .page-layout--expanded {
        @include layoutStyle($widthSidebarExpanded);
    }

    .page-layout--collapsed {
        @include layoutStyle($widthSidebarCollapsed);
    }

    .title__block {
        display: flex;
        column-gap: 50px;
        row-gap: 20px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .title {
            @include titlePage;
        }
    }

    .subtitle {
        margin-top: 20px;
        padding-left: 7px;

        font-weight: bold;
    }
}
