@import "../mixins.scss";
@import "../breakpoints.scss";

.home {
  @include layoutStyle;

  .title__block {
    display: flex;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .title {
      @include titlePage;
    }
  }

  .subtitle {
    margin-top: 20px;
    padding-left: 7px;

    font-weight: bold;
  }

  @media (max-width: $laptop) {
    @include layoutStyleForMobile;
  }
}
