@use "@/styles/mixins.scss" as *;
@use "@/styles/breakpoints.scss" as *;
@use "@/styles/sizes.scss" as *;
@use "@/styles/colors.scss" as *;

.home {
    .page-layout--expanded {
        @include layoutStyle($widthSidebarExpanded);
    }

    .page-layout--collapsed {
        @include layoutStyle($widthSidebarCollapsed);
    }

    .title {
        @include titlePage;
    }

    .date {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .subtitle {
        margin-top: 2rem;
    }
}
