@import "@/styles/mixins.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/sizes.scss";

.price {
    .page-layout--expanded {
        @include layoutStyle($widthSidebarExpanded);
    }

    .page-layout--collapsed {
        @include layoutStyle($widthSidebarCollapsed);
    }

    .title {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .link {
            color: $green;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            color: $black;
        }
    }
}
