@import "../mixins.scss";
@import "../breakpoints.scss";

.price {
  @include layoutStyle;

  .title {
    display: flex;
    gap: 10px;

    .link {
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      color: $black;
    }

    .link,
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }

  @media (max-width: $laptop) {
    @include layoutStyleForMobile;
  }
}
