$white: #ffffff;
$black: #000000;
$lightGreen: #c3ff78;
$green: #2f6346;
$green-hover: #3e7859;
$green-active: #4c8f6a;
$navLink: #3a7552;
$mint: #f0fff7;
$mint-focus: #dafbe9;
$red: #c20000;
$red-hover: #d11a1a;
$red-active: #e03333;
$grey: #d5d5d5;
$lightGrey: #efefef;
$blue: #006ed3;
$blue-active: #005eb6;
$blue-hover: #0178e8;

$colors: (
    "white": $white,
    "black": $black,
    "lightGreen": $lightGreen,
    "green": $green,
    "green-hover": $green-hover,
    "green-active": $green-active,
    "navLink": $navLink,
    "mint": $mint,
    "mint-focus": $mint-focus,
    "red": $red,
    "red-hover": $red-hover,
    "red-active": $red-active,
    "grey": $grey,
    "lightGrey": $lightGrey,
    "blue": $blue,
    "blue-active": $blue-active,
    "blue-hover": $blue-hover,
);

$color-variants: ();
@each $name, $base in $colors {
    $hover: if(map-has-key($colors, #{$name + "-hover"}), map-get($colors, #{$name + "-hover"}), $base);
    $active: if(map-has-key($colors, #{$name + "-active"}), map-get($colors, #{$name + "-active"}), $base);
    $focus: if(map-has-key($colors, #{$name + "-focus"}), map-get($colors, #{$name + "-focus"}), $base);

    $color-variants: map-merge(
        $color-variants,
        (
            $name: (
                base: $base,
                hover: $hover,
                active: $active,
                focus: $focus,
            ),
        )
    );
}

@mixin generate-classes($type, $property) {
    @each $name, $variants in $color-variants {
        .#{$type}-#{$name} {
            #{$property}: map-get($variants, base);
        }
        .hover\:#{$type}-#{$name}:hover {
            #{$property}: map-get($variants, hover);
        }
        .active\:#{$type}-#{$name}:active {
            #{$property}: map-get($variants, active);
        }
        .focus\:#{$type}-#{$name}:focus {
            #{$property}: map-get($variants, focus);
        }
    }
}

@include generate-classes("bg", "background-color");
@include generate-classes("text", "color");
@include generate-classes("icon", "fill");
