@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  background-color: unset;
}

li {
  list-style: none;
}

input {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
dd,
dt {
  line-height: normal;
  font-weight: 400;
}

dt {
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

a {
  font-style: 16px;
  text-decoration: none;
  color: $black;
}

.overflow-auto {
  overflow: auto;
}

.mt-40 {
  margin-top: 40px;
}
