@import "./colors.scss";

$font-size-base: 14px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $green;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    cursor: pointer;
    background-color: unset;
}

li {
    list-style: none;
}

input,
select,
option,
textarea {
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
dd,
dt {
    line-height: normal;
    font-weight: 400;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: $font-size-base;
}

h5 {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: $black;
    font-size: $font-size-base;
}

.overflow-auto {
    overflow: auto;
}

.mt-40 {
    margin-top: 40px;
}

.blur {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.blur.active {
    pointer-events: none;
    filter: blur(10px);
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-moz-inner-spin-button {
        -moz-appearance: none;
        margin: 0;
    }
}
