@use "./colors.scss" as *;

$font-size-base: 16px;

:root {
    --color-bg: #{$white};
    --color-bg-red: #{$red};
    --color-bg-green: #{$green};
    --color-text-primary: #{$black};
    --color-text-secondary: #{$darkGrey};
    --color-text-muted: #{$grey};
    --color-text-disabled: #{$grey};
    --color-bg-disabled: #{$grey};
    --color-text-link: #{$green};
    --color-text-red: #{$red};
    --color-text-blue: #{$blue};
    --color-bg-hover-item: #{$lightGrey};
    --color-border: #{$grey};
    --color-default-icon: #{$green};
    --color-default-icon-hover: #{$green-hover};
}

html.dark {
    --color-bg: #{$darkGreen};
    --color-bg-red: #{$lightRed};
    --color-bg-green: #{$lightGreen};
    --color-text-primary: #{$white};
    --color-text-secondary: #{$grey};
    --color-text-muted: #{$darkGrey};
    --color-text-disabled: #{$darkGrey};
    --color-bg-disabled: #{$grey};
    --color-text-link: #{$green};
    --color-text-red: #{$lightRed};
    --color-text-blue: #{$lightBlue};
    --color-bg-hover-item: #{$green-hover};
    --color-border: #{$darkGrey};
    --color-default-icon: #{$white};
    --color-default-icon-hover: #{$lightGrey};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: $green;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    cursor: pointer;
    background-color: unset;
}

li {
    list-style: none;
}

select {
    background-color: var(--color-bg);
}

input,
label,
select,
option,
textarea,
table,
th,
td {
    font-size: $font-size-base;
    color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
a {
    line-height: normal;
    font-weight: 400;
    color: var(--color-text-primary);
}

p,
dd,
dt {
    line-height: normal;
    font-weight: 400;
    color: var(--color-text-secondary);
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: $font-size-base;
}

h5 {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-size: $font-size-base;
}

.overflow-auto {
    overflow: auto;
}

.mt-40 {
    margin-top: 40px;
}

.blur {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

.blur.active {
    pointer-events: none;
    filter: blur(10px);
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &::-moz-inner-spin-button {
        -moz-appearance: none;
        margin: 0;
    }
}
