@use "@/styles/colors.scss" as *;
@use "@/styles/sizes.scss" as *;
@use "@/styles/breakpoints.scss" as *;

$border: 1px solid var(--color-border);

@mixin layoutStyle($sidebarWidth: $widthSidebarCollapsed) {
    position: absolute;
    left: $sidebarWidth;
    top: $heightHeader;
    padding: 35px 20px;
    width: calc(100% - $sidebarWidth);
    min-height: calc(100vh - $heightHeader);
    background-color: var(--color-bg);
    border-top-left-radius: 0.5rem;
    @include transition(left);

    @media (max-width: $mobile-xl) {
        padding: 15px 10px;
        left: 0;
        width: 100%;
        min-height: calc(100vh - $heightHeader - $widthSidebarCollapsed);
        padding-bottom: $widthSidebarCollapsed;
        border-top-left-radius: 0rem;
    }
}

@mixin titlePage {
    font-weight: bold;
}

@mixin noFocusBorder {
    outline: none;
    border: none;
    box-shadow: none;
}

@mixin borderInput {
    border: $border;
    border-radius: 5px;
}

@mixin custom-scroll($width: 8px, $thumb-color: #888, $thumb-hover-color: #555, $track-color: #f1f1) {
    scrollbar-width: thin;
    scrollbar-color: $thumb-color $track-color;

    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover-color;
    }
}

@mixin transition($property, $duration: 0.2s, $timing: ease-in-out) {
    transition: $property $duration $timing;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin absolute-center-y($left: null, $right: null) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @if $left != null {
        left: $left;
    }

    @if $right != null {
        right: $right;
    }
}

@mixin bg-glass {
    background: rgba($white, 0.06);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 8px 32px rgba($black, 0.2);
}
