@import "@/styles/colors.scss";
@import "@/styles/sizes.scss";

@mixin layoutStyle($sidebarWidth: $widthSidebarCollapsed) {
    position: absolute;
    left: $sidebarWidth;
    top: $heightHeader;
    padding: 35px 20px;
    width: calc(100% - $sidebarWidth);
    min-height: calc(100vh - $heightHeader);
    background-color: $white;
    border-top-left-radius: 0.5rem;
    @include transition(left);

    @media (max-width: $mobile-xl) {
        padding: 15px 10px;
        left: 0;
        width: 100%;
        min-height: calc(100vh - $heightHeader - $widthSidebarCollapsed);
        padding-bottom: $widthSidebarCollapsed;
        border-top-left-radius: 0rem;
    }
}

@mixin titlePage {
    font-weight: bold;
    color: $green;
}

@mixin noFocusBorder {
    outline: none;
    border: none;
    box-shadow: none;
}

@mixin borderInput {
    border: 1px solid $green;
}

@mixin custom-scroll($width: 8px, $thumb-color: #888, $thumb-hover-color: #555, $track-color: #f1f1f1) {
    scrollbar-width: thin;
    scrollbar-color: $thumb-color $track-color;

    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: $track-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $thumb-color;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $thumb-hover-color;
    }
}

@mixin transition($property, $duration: 0.2s, $timing: ease-in-out) {
    transition: $property $duration $timing;
}
