@import "../styles/colors.scss";

$widthNavigation: 350px;
$heightHeader: 80px;

@mixin layoutStyle {
  position: absolute;
  left: $widthNavigation;
  top: $heightHeader;

  padding: 35px 20px;

  width: calc(100% - $widthNavigation);
}

@mixin layoutStyleForMobile {
  left: 0px;
  width: 100%;
}

@mixin titlePage {
  font-weight: bold;
  color: $green;
}
