$widthSidebarExpanded: 325px;
$widthSidebarCollapsed: 60px;
$heightHeader: 60px;

$heightRowTable: 2.5rem;
$paddingLeftCellTable: 0.313rem;
$paddingRightCellTable: 0.313rem;
$widthHeaderCellActionTable: 6rem;
