$widthSidebarExpanded: 21.563rem;
$widthSidebarCollapsed: 3.75rem;
$heightHeader: 3.75rem;

$heightRowTable: 2.5rem;
$paddingLeftCellTable: 0.313rem;
$paddingRightCellTable: 0.313rem;
$widthHeaderCellActionTable: 6rem;

$heightInput: 2.438rem;
$heightButton: 2.438rem;
$heightSelect: 2.438rem;
