@import "@/styles/breakpoints.scss";
@import "@/styles/mixins.scss";

.root {
    overflow: hidden;
    max-height: 0;

    @include transition(max-height);
}

.root.open {
    width: 100%;
    max-height: 600px;
    @include transition(max-height);
}

@media (max-width: $desktop) {
    .root {
        @include transition(max-height);
    }
}
