@import "@/styles/sizes.scss";
@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.sidebar {
    position: fixed;
    left: 0;
    top: $heightHeader;
    background: $green;

    .expanded,
    .collapsed {
        height: calc(100vh - $heightHeader);
        @include transition(width);
    }

    .expanded {
        width: $widthSidebarExpanded;
    }

    .collapsed {
        width: $widthSidebarCollapsed;
    }
}
