@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/sizes.scss" as *;

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    background-color: $green;
    color: $white;
    min-width: 80px;
    height: $heightButton;
    border-radius: 5px;

    @include transition(background-color);

    &:disabled {
        background-color: var(--color-bg-disabled);
        cursor: no-drop;
    }

    .icon {
        display: flex;
    }
}
