@import "../../styles//breakpoints.scss";

.navMenu {
  position: fixed;
  left: 0;
  top: 80px;

  width: 350px;
  height: calc(100vh - 80px);

  background-image: linear-gradient(
    140deg,
    hsl(166deg 100% 34%) 0%,
    hsl(159deg 67% 43%) 20%,
    hsl(154deg 54% 49%) 37%,
    hsl(147deg 53% 54%) 52%,
    hsl(140deg 56% 59%) 64%,
    hsl(132deg 58% 64%) 72%,
    hsl(121deg 62% 69%) 79%,
    hsl(111deg 70% 70%) 85%,
    hsl(102deg 80% 71%) 90%,
    hsl(94deg 90% 72%) 95%,
    hsl(87deg 100% 74%) 100%
  );

  transition: transform 0.3s ease-in-out;

  .authMobile {
    display: none;
  }

  @media (max-width: $laptop) {
    padding-top: 80px;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transform: translateY(100%);
    &.showMenu {
      transform: translateY(0);
    }

    .authMobile {
      display: block;
      bottom: 10px;
      left: 50%;
      width: max-content;
      transform: translateX(-50%);
      position: absolute;
    }
  }
}
