@import "@/styles/mixins.scss";
@import "@/styles/sizes.scss";

.root {
    border-bottom: $border;
    min-width: $widthHeaderCellActionTable;
    height: $heightRowTable;
    padding-left: $paddingLeftCellTable;
    padding-right: $paddingRightCellTable;

    .buttons {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 0.7rem;

        button {
            display: flex;

            svg {
                &:hover {
                    fill: var(--color-default-icon-hover);
                }
            }
        }
    }
}
