.root {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    p {
        white-space: nowrap;
    }

    .images {
        display: flex;
        gap: 10px;
    }
}
