.root {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    min-width: 190px;

    p {
        min-width: 130px;
    }

    .images {
        display: flex;
        gap: 10px;
    }
}
