@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

$multi-value-border-radius: 4px;

.inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 12.2rem;
    max-width: 22rem;
    min-height: 38px;
    border: $border;
    border-radius: 4px;
    box-shadow: none;
    transition: all 0.2s ease;
    cursor: text;

    &.focused {
        border-color: var(--color-border);
    }
}

.clearIndicator {
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        svg {
            fill: $black;
        }
    }
}

.indicatorsContainer {
    display: flex;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
}

.multiValueRemove {
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    border-bottom-right-radius: $multi-value-border-radius;
    border-top-right-radius: $multi-value-border-radius;
    cursor: pointer;

    &:hover {
        background-color: $grey;
    }
}

.multiValueLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lightGrey;
    color: $black;
    border-bottom-left-radius: $multi-value-border-radius;
    border-top-left-radius: $multi-value-border-radius;
    min-height: 22px;
    font-size: 14px;
    padding: 0px 5px;
}

.option {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-text-secondary);
    background-color: var(--color-bg);

    &:hover {
        background-color: var(--color-bg-hover-item);
        color: var(--color-text-primary);
    }
}

.menu {
    position: absolute;
    top: calc(100% + 0.1rem);
    left: 0;
    width: 100%;

    background-color: var(--color-bg);
    border: $border;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    margin-top: 6px;
    z-index: 100;
    padding: 4px 0;
    max-height: 250px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}
