@import "../../../../styles/colors.scss";

.listMetersData {
  .headerList {
    position: fixed;
    top: 80px;
    display: flex;
    gap: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: white;

    border-bottom: 1px dashed $grey;

    p {
      font-weight: bold;
      min-width: 130px;

      &:first-child {
        min-width: 151px;
      }
    }
  }
}
