@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";

.authPanel {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;

    .signOutButton {
        color: $white;
    }
}
