@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";

.header {
  left: 0px;
  right: 0px;
  padding-left: 15px;
  padding-right: 15px;

  position: fixed;
  height: 80px;

  background-color: $white;

  z-index: 1;

  display: flex;
  justify-content: space-between;
  transition: background-color 0.4s ease-in-out;

  @media (max-width: $laptop) {
    z-index: 2;
    background-color: unset;

    &.headerBackground {
      background-color: $white;
    }
  }
}
