@use "@/styles/colors.scss" as *;
@use "@/styles/breakpoints.scss" as *;
@use "@/styles/sizes.scss" as *;

.root {
    left: 0px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    height: $heightHeader;
    background-color: $green;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.4s ease-in-out;
}
