@import "@/styles/colors.scss";

.itemLinkPage,
.active {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 25px;

    .text {
        color: $white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.active {
    background-color: $navLink;
    border-radius: 5px;
}
