@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.itemLinkPage,
.active {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 25px;

    .text {
        color: $white;

        @include text-ellipsis;
    }
}

.active {
    background-color: $navLink;
    border-radius: 5px;
}
