@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.menu {
    position: absolute;
    top: calc(100% + 0.1rem);
    left: 0;
    width: 100%;

    background-color: var(--color-bg);
    border: $border;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    margin-top: 6px;
    z-index: 100;
    padding: 4px 0;
    max-height: 250px;
    overflow-y: auto;
    transition: all 0.2s ease-in-out;
}
