@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";
@import "@/styles/sizes.scss";

.tableHeaderCell {
    padding-left: $paddingLeftCellTable;
    user-select: none;

    @include text-ellipsis;

    :global(.react-resizable-handle::after) {
        opacity: 0;

        @include transition(opacity);
    }

    &:hover :global(.react-resizable-handle::after) {
        opacity: 1;
        border-left: 2px dashed $grey;
    }

    &:hover.leftResizableHandle {
        box-shadow: inset 1px 0 0 0 $grey;
    }

    .tableHeaderCellButton {
        width: 100%;
        height: $heightRowTable;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: $paddingRightCellTable;
        cursor: pointer;

        svg {
            opacity: 0;

            @include transition(opacity);
        }

        &:hover {
            svg {
                opacity: 1;
            }
        }

        &.tableHeaderCellNumber {
            justify-content: end;
        }
    }

    .tableHeaderCellLabel {
        font-weight: 600;
        color: $green;
    }
}

.leftResizableHandle {
    @include transition(box-shadow);
}

.tableHeaderCellAction {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $widthHeaderCellActionTable;
    height: $heightRowTable;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    button {
        svg {
            display: flex;

            &:hover {
                fill: $green-hover;
            }
        }
    }

    @include transition(border-color);

    &:hover {
        border-left-color: $grey;
        border-right-color: $grey;
    }
}

.tableHeaderCellActionForReadOnly {
    width: 2rem;
}
