.root {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;

    .fieldsGroup {
        display: flex;
        gap: 10px;
    }

    .buttonWrapper {
        display: flex;
        gap: 10px;
    }
}
