.extraServicesForm {
    margin-top: 20px;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    align-items: flex-end;

    .inputs {
        display: flex;
        gap: 10px;
    }
    .btns {
        display: flex;
        gap: 10px;
    }
}
