@import "@/styles/colors.scss";

.utilityAccount {
    margin-top: 20px;

    .utilityAccountTitle {
        margin-bottom: 20px;
    }

    .utilityAccountItems {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .utilityAccountItemsItem {
            display: flex;
            gap: 10px;

            .utilityAccountItemsItemContent {
                display: flex;
                align-items: center;
                gap: 10px;

                .utilityAccountItemsItemContentValue {
                    letter-spacing: 0.8px;
                }
            }
        }
    }
}
