@use "@/styles/colors.scss" as *;

.root {
    .dropdownTrigger {
        display: flex;
        align-items: center;
        gap: 7px;
        color: $white;

        .title {
            color: $white;
        }
    }

    .dropdownContent {
        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
