@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    flex-direction: column;
    border: $border;
    padding: 1rem;
    overflow: hidden;

    @include bg-glass;
}
