@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";
@import "@/styles/sizes.scss";

.root {
    display: flex;
    flex-direction: column;

    label {
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .inputContainer {
        position: relative;

        input {
            max-width: 130px;
            height: $heightInput;
            padding-right: 36px;
            padding-left: 5px;
            background-color: var(--color-bg);

            @include borderInput;

            &::placeholder {
                color: $grey;
            }

            &:focus {
                outline: none;
                background-color: var(--color-bg-hover-item);
            }
        }

        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            cursor: pointer;
        }
    }
}

.inputEdit {
    background-color: var(--color-bg-hover-item) !important;
}
