@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.input {
    position: relative;
    display: flex;
    flex-direction: column;

    label {
        padding-left: 5px;
    }

    input {
        margin-top: 10px;
        max-width: 130px;
        height: 39px;
        padding-right: 36px;
        padding-left: 5px;
        @include borderInput;

        &::placeholder {
            color: $grey;
        }

        &:focus {
            outline: none;
        }
    }

    .close {
        margin: 0;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 11px;
        right: 12px;
        cursor: pointer;
    }
}
