@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.input {
    display: flex;
    flex-direction: column;

    label {
        padding-left: 5px;
        padding-bottom: 10px;
    }

    .inputContainer {
        position: relative;

        input {
            max-width: 130px;
            height: 39px;
            padding-right: 36px;
            padding-left: 5px;
            @include borderInput;

            &::placeholder {
                color: $grey;
            }

            &:focus {
                outline: none;
            }
        }

        .close {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            cursor: pointer;
        }
    }
}
