@use "@/styles/mixins.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/breakpoints.scss" as *;

.root {
    @include bg-glass(false);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;
    width: 14rem;
    height: 10rem;
    border: $border;
    border-radius: 5px;

    &:hover {
        border-color: var(--color-bg-green);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}
