@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    margin-top: 20px;
    @include bg-glass;
    padding: 1rem;
    border: $border;
    border-radius: 5px;
    .description {
        margin-top: 0.5rem;
        color: var(--color-text-secondary);
    }
}
