@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.root {
    min-width: max-content;

    .item {
        padding-left: 40px;
        display: flex;
        gap: 20px;

        p {
            line-height: 1.8;
        }

        .title {
            font-weight: bold;
        }
    }

    .itemLast {
        border-top: $border;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .buttons {
            display: flex;
            gap: 20px;
        }
    }
}
