@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

:export {
    green: $green;
    grey: $grey;
    red: $red;
    blue: $blue;
    lightGreen: $lightGreen;
}

.root {
    @include bg-glass;
    padding: 1rem;
    padding-bottom: 3rem;
    border: $border;
    border-radius: 5px;
    width: 100%;
    height: 350px;
}
