@use "@/styles/colors.scss" as *;
@use "@/styles/breakpoints.scss" as *;

$width: 150px;
$border-radius: 5px;
$gap-line: 3px;

.root {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: $width;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .valuePercent {
            display: flex;
            align-items: center;
        }
    }

    .line {
        position: relative;
        background-color: var(--color-border);
        width: 100%;
        height: 10px;
        border-radius: $border-radius;

        .lineCenter {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: $gap-line;
            height: 100%;
            background-color: var(--color-bg);
        }
    }

    .title {
        text-align: center;
    }
}
