@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.itemInfoPanelMonth {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;

  .title,
  .description {
    text-align: center;
  }

  .title {
  }

  .description {
    background-color: $lightGreen;
    padding: 5px 5px;
  }

  @media (max-width: $mobile-xl) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
  }
}
