@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.root {
    height: 39px;
    width: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border;
    border-radius: 4px;

    &:hover {
        svg {
            fill: var(--color-default-icon-hover);
        }
    }
}
