@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/sizes.scss" as *;

.root {
    height: $heightButton;
    width: $heightButton;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border;
    border-radius: 4px;

    &:hover {
        svg {
            fill: var(--color-default-icon-hover);
        }
    }
}
