@use "@/styles/colors.scss" as *;

.root {
    display: flex;
    flex-wrap: wrap;

    .item {
        display: flex;
        align-items: center;
        white-space: nowrap;

        .homeIcon {
            display: flex;
        }

        .link {
            color: var(--color-text-primary);
            text-decoration: none;
        }

        .active {
            text-decoration: underline;
        }

        .separator {
            display: flex;
            margin: 0 0.5rem;
        }
    }
}
