@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";

$width: 150px;
$border-radius: 5px;
$gap-line: 3px;

.progressTrackLeft,
.progressTrackRight {
    position: absolute;
    height: 100%;
    width: calc(50% - $gap-line / 2);

    .progressBarMinus {
        position: absolute;
        height: 100%;
        background-color: var(--color-bg-green);
        right: 0px;
        border-radius: $border-radius 0px 0px $border-radius;
    }

    .progressBarPlus {
        position: absolute;
        height: 100%;
        background-color: var(--color-bg-red);
        left: calc(100% + $gap-line);
        border-radius: 0px $border-radius $border-radius 0px;
    }
}
