@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/sizes.scss" as *;

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $widthHeaderCellActionTable;
    height: $heightRowTable;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

    button {
        svg {
            display: flex;

            &:hover {
                fill: $green-hover;
            }
        }
    }

    @include transition(border-color);

    &:hover {
        border-left-color: var(--color-border);
        border-right-color: var(--color-border);
    }
}
