@import "@/styles/sizes.scss";
@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

.bottomSidebar {
    position: fixed;
    height: $widthSidebarCollapsed;
    bottom: 0px;
    left: 0px;
    background: $green;
    z-index: 10;
    width: 100%;

    .listLinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 0px 15px;

        .itemLink {
            display: flex;
            gap: 25px;

            .itemLinkIcon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .active,
        .noActive {
            padding: 5px;
            border-radius: 5px;
        }

        .active {
            background-color: $navLink;
        }

        .noActive {
            border-radius: 5px;
        }
    }
}
