@import "@/styles/colors.scss";
@import "@/styles/breakpoints.scss";
@import "@/styles/mixins.scss";

.itemMonthlyMoneyCalculations {
    border: $border;
    border-radius: 4px;
    width: max-content;

    ul {
        padding: 10px;
        .item {
            display: flex;

            gap: 20px;

            &:nth-child(1) {
                border-bottom: $border;
            }

            p {
                line-height: 1.8;
            }

            .title {
                font-weight: bold;
            }
        }

        .itemLast {
            border-top: $border;
        }
    }

    .btnsLanguage {
        button {
            color: var(--color-text-primary);
        }
    }

    .btns,
    .btnsLanguage {
        display: flex;
        gap: 40px;

        justify-content: space-between;

        padding: 10px;

        .active {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    @media (max-width: $mobile-xl) {
        width: 100%;
    }

    @media (max-width: $mobile) {
        ul {
            .item {
                flex-direction: column;
                gap: 0px;
            }
        }

        .btns {
            gap: 10px;
        }
    }
}
