@import "@/styles/breakpoints.scss";
@import "@/styles/colors.scss";

.root {
    margin-top: 10px;
    display: flex;
    flex-grow: 1;
    gap: 50px;
    flex-wrap: wrap;

    @media (max-width: $mobile-xl) {
        justify-content: space-between;
    }
}
