@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;

.root {
    margin-top: 2rem;
    display: flex;
    flex-grow: 1;
    gap: 50px;
    flex-wrap: wrap;

    @media (max-width: $mobile-xl) {
        justify-content: space-between;
    }
}
