@use "@/styles/breakpoints.scss" as *;

.root {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-between;

    p {
        padding-right: 2px;
        padding-bottom: 10px;
    }

    @media (max-width: $mobile-xl) {
        width: 100%;

        button {
            margin-left: auto;
        }
    }
}
