@use "@/styles/colors.scss" as *;

.root {
    .dropdownTrigger {
        display: flex;
        align-items: center;
        gap: 7px;

        .title {
            color: $white;
        }
    }

    .dropdownContent {
        min-width: 12rem;

        .item {
            min-width: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .inner,
            .innerLink {
                display: flex;
                gap: 0.75rem;
                align-items: center;
            }

            .innerLink {
                width: 100%;
            }
        }
    }
}
