@import "@/styles/breakpoints.scss";
@import "@/styles/colors.scss";
@import "@/styles/mixins.scss";

$width: 250px;
$border-radius: 5px;
$padding-window: 5px 10px;

.dateRangeSelector {
    position: relative;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: $padding-window;
        border: $border;
        border-radius: $border-radius;
        height: 39px;
        width: $width;

        &_date {
            color: var(--color-text-primary);
        }

        &_active {
            border-color: $green-active;
        }
    }

    &__dropdown {
        position: absolute;
        top: 49px;
        display: flex;
        flex-direction: column;

        background-color: var(--color-bg);
        z-index: 2;
        border-radius: $border-radius;

        border: $border;
        width: $width;

        height: 30px * 6;

        overflow-y: scroll;

        @include custom-scroll;
        &_btn {
            padding: $padding-window;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_active {
                background-color: var(--color-bg-hover-item);

                &:hover {
                    background-color: var(--color-bg-hover-item) !important;
                }
            }

            &:hover {
                background-color: var(--color-bg-hover-item);
            }
        }
    }

    @media (max-width: $mobile-xl) {
        width: 100%;
        &__btn,
        &__dropdown {
            width: 100%;
        }
    }
}
