@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/sizes.scss" as *;

$width: 250px;
$border-radius: 5px;
$padding-window: 5px 10px;

.root {
    position: relative;

    .navWrapper {
        display: flex;
        gap: 1rem;

        .navButton {
            display: flex;
            align-items: center;
            justify-content: center;

            &:disabled {
                cursor: not-allowed;
                svg {
                    fill: var(--color-bg-disabled);
                }
            }

            &:not(:disabled):hover {
                svg {
                    fill: var(--color-default-icon-hover);
                }
            }
        }
    }

    .dropdownTrigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: $padding-window;
        border: $border;
        border-radius: $border-radius;
        height: $heightSelect;
        width: $width;

        &.title {
            color: var(--color-text-primary);
        }

        &.dropdownTrigger.active {
            border-color: $green-active;
        }
    }

    .dropdownContent {
        position: absolute;
        top: 49px;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
        z-index: 2;
        border-radius: $border-radius;
        border: $border;
        width: $width;
        left: 2.5rem;
        height: 30px * 6;
        overflow-y: scroll;

        @include custom-scroll;

        .button {
            padding: $padding-window;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .active {
                background-color: var(--color-bg-hover-item);

                &:hover {
                    background-color: var(--color-bg-hover-item) !important;
                }
            }

            &:hover {
                background-color: var(--color-bg-hover-item);
            }
        }
    }

    @media (max-width: $mobile-xl) {
        width: 100%;

        .dropdownTrigger,
        .dropdownContent {
            width: 100%;
            left: 0;
        }
    }
}
