@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;

.root {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem;

    .loading,
    .error {
        margin-top: 16px;
    }

    .error {
        color: var(--color-text-red);
    }

    @media (max-width: $mobile-xl) {
        width: 100%;
    }
}
