@import "@/styles/breakpoints.scss";
@import "@/styles/colors.scss";

.listUtilityPrices {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .loading,
    .error {
        margin-top: 16px;
    }

    .error {
        color: var(--color-text-red);
    }

    @media (max-width: $mobile-xl) {
        width: 100%;
    }
}
