@use "@/styles/breakpoints.scss" as *;
@use "@/styles/colors.scss" as *;

.root {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .loading,
    .error {
        margin-top: 16px;
    }

    .error {
        color: var(--color-text-red);
    }

    @media (max-width: $mobile-xl) {
        width: 100%;
    }
}
